{% extends 'base.html' %}
{% block content %}
<section class="card">
  <h2>Admin - User List</h2>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Role</th>
        <th>Bio</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for u in users %}
        <tr>
          <td>{{ u['id'] }}</td>
          <td>{{ u['username'] }}</td>
          <td>{{ u['role'] }}</td>
          <td>{{ u['bio'] }}</td>
          <td><a href="{{ url_for('admin_user_by_id', id=u.id) }}">View</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</section>
{% endblock %}
